.glitzi-container {
    padding:8px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

button {
    background: transparent;
    padding: 5px;
    border:1px solid;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

button.icon {
    align-self: center;
}

button.primary {
    color: darkorange;
    fill: darkorange;
    stroke: darkorange;
    border-color: darkorange;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

button.primary:hover {
    background: darkorange;
    color: white;
    fill: white;
    border-color:darkorange;
}

button.secondary {
    color: #444;
    border-color:#444;
}

button.secondary:hover {
    background: #444;
    color: white;
    border-color:#444;
}

button[disabled] {
    color: darkgray;
    border-color:darkgray;
}
button[disabled]:hover {
    background: transparent;
    color: darkgray;
    border-color:darkgray;
}

.buttons-container button {
    flex-grow: 1;
}

.buttons-container button:first-child {
    margin-left: 0;
}

.buttons-container button:last-child {
    margin-right: 0;
}

.issues-list-title {
    border-bottom: 1px solid #747d83;
}

.issue {
    border-bottom: 1px solid #C2C8CC;
    margin-top: 8px;
}

.field-value {
    padding:10px;
    display: flex;
}
.field-value.vertical {
    flex-direction: column;
}

.field-value.small {
    padding:2px 0;
    display: flex;
}

.field {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    width: 75px;
}

.value,
.value-sm {
    padding: 4px;
    border-radius: 4px;
    outline: none;
    background: transparent;
    border-color: darkgray;
}

.value {
    flex-grow: 1;
}
.value-sm{
    width: 60px;
}

.hidden {
    display: none;
}

input.result[type="checkbox"] {
    margin-right: 10px;
}

.zendesk-link {
    background: #17494D;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid #17494D;
    margin: 1px;
}
.zendesk-link:hover {
    background: #fff;
    color: #17494D;
}

.issue-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.issue-header-title {
    font-size: 1.1em;
    margin-right: 35px;
}

.issue-header-buttons {
    display: flex;
    justify-content: center;
}

.issue-header-info {
    text-align: center;
}

.unlink-link {
    font-size: 80%;
    margin-left: 12px;
}

.field-value.small > .value {
    padding: 0
}

.assignee {
    background: #ffffff;
    color: #8d135b;
    font-weight: bold;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid #8d135b;
    margin: 1px;
}

.comment-get-container {
    padding-left: 10px;
    margin-top: -6px;
    margin-bottom: 16px;
}

.grow-1 {
    flex-grow: 1;
}

.issue-header-big {
    display: flex;
}

.issue-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editable > .value {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.issue-header-link {
    font-size: 1.1em;
}

.issue-header-status,
.issue-type,
.issue-priority {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 2px 6px;
    border-radius: 6px;
    text-decoration: none;
    margin: 1px;
    text-align: center;
}

.issue-header-status.open {
    background: #3c5aaf;
    border: 1px solid #3c5aaf;
}

.issue-header-status.failed {
    background: #af3c3c;
    border: 1px solid #af3c3c;
}

.issue-header-status.waiting {
    background: #8e3caf;
    border: 1px solid #8e3caf;
}

.issue-header-status.rejected {
    background: #535353;
    border: 1px solid #535353;
}

.issue-header-status.automated {
    background: #0e8618;
    border: 1px solid #0e8618;
}

.issue-header-status.in-testing {
    background: #52860e;
    border: 1px solid #52860e;
}

.issue-header-status.in-progress {
    background: #d49c00;
    border: 1px solid #d49c00;
}

.issue-header-status.ready-to-test {
    background: #b4b100;
    border: 1px solid #b4b100;
}

.issue-header-status.pending-automation {
    background: #00860d;
    border: 1px solid #00860d;
}

.issue-header-status.unknown {
    background: #000000;
    border: 1px solid #000000;
}

.issue-header-type-priority {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.issue-type.bug {
    background: #af3c3c;
    border: 1px solid #af3c3c;
}

.issue-type.improvement {
    background: #00860d;
    border: 1px solid #00860d;
}

.issue-type.vulnerability {
    background: #d49c00;
    border: 1px solid #d49c00;
}

.issue-type.task {
    background: #3c5aaf;
    border: 1px solid #3c5aaf;
}

.issue-type.task {
    background: #8e3caf;
    border: 1px solid #8e3caf;
}

.issue-type.not-set {
    background: #000000;
    border: 1px solid #000000;
}

.issue-priority.low {
    background: #646464;
    border: 1px solid #646464;
}

.issue-priority.normal {
    background: #3c5aaf;
    border: 1px solid #3c5aaf;
}

.issue-priority.high {
    background: #d49c00;
    border: 1px solid #d49c00;
}

.issue-priority.highest {
    background: #af3c3c;
    border: 1px solid #af3c3c;
}

.issue-priority.not-set {
    background: #000000;
    border: 1px solid #000000;
}

.issue-small {
    border-bottom: 1px solid #f1e7c0;
}

.issue-small > * {
    display: inline-block;
}